body {
  font-family: 'Poppins', sans-serif;
}

.logo {
  max-width: 100px;
  height: 70px;
  padding-left: 25px;
}

.nav {
  background: #FFFFFF;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 70px;
}

.group-img {
  padding: 20px;
  max-width: 500px;
  display: flex;
  margin: auto;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience > h1 {
  width: 347px;
height: 40px;
left: 36px;
top: 360px;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 110%;
/* identical to box height, or 40px */


color: #000000;

}

.experience > p {
  margin-top: 0px;
 width: 320px;
font-style: normal;
font-size: 20px;
color: #222222;
}

.gray {
  color: #918E9B;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
padding-left: 10px;
font-size: 12px;
justify-content: center;
  align-items: center;
}

.content > span {
  padding-top: 10px;
}

.imgs {
  height: 5%;
  width: 10%;
  /* padding: 10px; */
}

.star {
  display: block;
  width: 20px;
  margin-left: 10px;
}

.card-stats {
  display: flex;
  gap: 3px;
  width: 15%;
  font-size: 15px;
}

.price {
font-weight: bold;
}

.description {
  width: 17%;
}
